<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card progress-card">
                    <h1 style="margin-top:0">Progress</h1>
                    <p>Completion of tasks for each project</p>
                    <div class="progressbars">
                        <ul>
                            <li class="p-grid">
                                <label class="p-col-fixed">Sapphire</label>
                                <div class="progressbar p-col-fixed">
                                    <div class="progress" style="width:70%;"></div>
                                </div>
                            </li>
                            <li class="p-grid">
                                <label class="p-col-fixed">Roma</label>
                                <div class="progressbar p-col-fixed">
                                    <div class="progress" style="width:60%;"></div>
                                </div>
                            </li>
                            <li class="p-grid">
                                <label class="p-col-fixed">Ultima</label>
                                <div class="progressbar p-col-fixed">
                                    <div class="progress" style="width:65%;"></div>
                                </div>
                            </li>
                            <li class="p-grid">
                                <label class="p-col-fixed">Barcelona</label>
                                <div class="progressbar p-col-fixed">
                                    <div class="progress" style="width:30%;"></div>
                                </div>
                            </li>
                            <li class="p-grid">
                                <label class="p-col-fixed">Prestige</label>
                                <div class="progressbar p-col-fixed">
                                    <div class="progress" style="width:85%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card tasks">
                    <h1 style="margin-top:0">Features/Enhancements</h1>
                    <ul>
                        <li>
                            <span>Sales Reports</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Pay Invoices</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Birthday Party</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Client Meeting</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>New Themes</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Flight Ticket</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>New Themes</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Flight Ticket</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
                <div class="card tasks">
                    <h1 style="margin-top:0">Bugs</h1>
                    <ul>
                        <li>
                            <span>Sales Reports</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Pay Invoices</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Birthday Party</span>
                            <span class="task-badge-open">Open<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Client Meeting</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>New Themes</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Flight Ticket</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>New Themes</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                        <li>
                            <span>Flight Ticket</span>
                            <span class="task-badge-closed">Closed<i class="pi pi-circle-on"></i></span>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

