<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-menu-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-horizontal': isHorizontal(),
                'layout-mobile-active': overlayMenuMobileActive}" [class]="layout">

    <app-topbar></app-topbar>

    <app-menu [reset]="resetMenu"></app-menu>

    <app-actionbar></app-actionbar>

    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</div>
