<div class="layout-topbar">
    <div href="#" class="layout-topbar-logo">
        <a href="#">
            <img class="logo" src="assets/layout/images/icons8-trello-50.png" alt="prestige-layout"/>
        </a>
    </div>
    <a class="layout-menu-button" href="#" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <ul class="layout-topbar-menu" role="menu">
        <li #profile class="user-profile" role="menuitem" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
            <a *ngIf="(authService.user | async) as profile" (click)="app.onTopbarItemClick($event,profile)">
                <div class="user-profile-info profile-link">
                    <span class="user-profile-name">{{profile.email}}</span>
                    <!-- <span class="user-profile-role">{{profile.displayName}}</span> -->
                </div>
            </a>
        </li>
        <li #settings class="layout-topbar-item" [ngClass]="{'active-topmenuitem':app.activeTopbarItem === settings}">
            <a href="#" class="layout-topbar-icon first" (click)="app.onTopbarItemClick($event,settings)">
                <i class="topbar-icon pi pi-cog"></i>
            </a>
            <ul class="fadeInDown">
                <li *ngIf="!(authService.user | async)">
                    <a class="layout-topbar-icon" [routerLink]="['login']">
                        <i class="topbar-icon pi pi-sign-out"></i>
                    </a>
                    <div class="layout-quickmenu-tooltip">
                        <div class="layout-quickmenu-tooltip-arrow"></div>
                        <div class="layout-quickmenu-tooltip-text">Login</div>
                    </div>
                </li>
                <li (click)="authService.logout()" *ngIf="authService.user | async">
                    <a href="#" class="layout-topbar-icon">
                        <i class="topbar-icon pi pi-sign-out"></i>
                    </a>
                    <div class="layout-quickmenu-tooltip">
                        <div class="layout-quickmenu-tooltip-arrow"></div>
                        <div class="layout-quickmenu-tooltip-text">Logout</div>
                    </div>
                </li>
            </ul>
    </ul>
</div>
