$primaryColor:#6986A1;
$primaryHiglightColor:#B077D6;
$primaryTextColor:#6986A1;

/* background */
$backgroundLeftColor:#263440;
$backgroundRightColor:#6171B0;

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.2);
$horizontalMenuItemTextColor: rgba(255,255,255,0.72);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.72);
$topbarItemTextColor:rgba(255,255,255,0.72);
$topbarChildItemHoverColor:#B077D6;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#C0D5E9;
$overlayMenuItemActiveTextColor:#6986A1;

/* overlay menu button */
$overlayMenuButtonColor:#2C3E50;
$overlayMenuButtonHoverBgColor:#C0D5E9;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#C0D5E9;
$actionItemIconColor:#2C5C62;
$actionItemHoverBgColor:#A3BFDA;
$actionItemActiveBgColor:#6986A1;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.7);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#6986A1;

@import '../../sass/layout/_layout';